@import './../../shared/styles/helpers';
.footer {
  background: $color-background-dark;
}
.container {
  margin: 0 auto;
  padding: 3.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: $content-width;
  @include media-mobile {
    flex-direction: column;
    gap: 4rem;
  }
}

.contacts,
.tel {
  color: $color-text;
  @extend%font-add;
  @include font($size: 2rem, $height: 2.8rem, $weight: 600);
  transition: all 0.5s ease-in-out;
  &:hover {
    color: $color-link;
    text-shadow: rgb(73, 72, 72) 1px 0 10px;
  }
}
.tel {
  font-size: 1.8rem;
}
