.icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.icon {
  background: rgba(255, 255, 255, 0.479);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
