@import './../../shared/styles/helpers';

.process {
  text-align: center;
  width: 100%;
  padding: 4rem 3rem;
  background: #f8f2f0;
  margin-top: 5rem;

  @include media-tablet {
    padding: 2rem 0;
  }
}
.steps {
  padding-top: 1rem;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  // gap: 2rem;

  @media screen and (max-width: 1388px) {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}
