@import './../../shared/styles/helpers';

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 6rem 2rem;
  @include media-laptop-small {
    width: 100%;
  }
}

.burger {
  display: none;

  @include media-tablet {
    position: fixed;
    top: 2rem;
    right: 3rem;
    z-index: 105;
    display: block;
    color: $color-link;
    font-weight: 500;
    font-size: 1.8rem;
  }
}

.burger_active {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 105;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: $color-background-dark;
  text-align: center;
  padding-top: 1rem;
  color: $color-link;
  font-size: 2rem;
  cursor: pointer;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  &:hover {
    animation: rotate 2.5s;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
