@import './../../shared/styles/helpers';

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 5rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
  @include media-laptop-small {
    width: 100%;
  }
}

.burger {
  display: none;

  @include media-tablet {
    position: fixed;
    top: 2rem;
    right: 3rem;
    z-index: 105;
    background: rgba(110, 110, 110, 0.623);
    padding: 0.7rem 2rem;
    border-radius: 15px;
    display: block;
    @include font($size: 1.8rem, $height: 2.6rem, $weight: 500);
    color: $color-link;
  }
}

.active {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: $color-background-dark;
  text-align: center;
  padding: 1rem 0 0 0;
  font-size: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  &:hover {
    animation: rotate 2.5s;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.headerDefault {
  padding: 5.5rem 0 2.5rem;
  background-color: $color-background;
  @include media-tablet {
    padding: 1rem;
  }
  a {
    color: $color-text;
  }
  a:after {
    content: '';
    display: block;
    width: 0%;
    border-bottom: 2.5px solid $color-text;
  }
}
.logo_tablet {
  position: relative;
  z-index: 80;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;

  @media screen and (min-width: 768.98px) {
    display: none;
  }
}
