@import './../../shared/styles/helpers';

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.container {
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 2rem;
}
.navigation {
  flex: 0 1 40%;
}
.navigation_list {
  display: flex;
  justify-content: space-around;
}
.navigation_link {
  @extend %font-add;
  color: $header-text;
  @include font($size: 2rem, $height: 3.6rem, $weight: normal);
  @include adaptive-font(20, 10);
  transition: all 0.5s ease-in-out;
  &:hover {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
  }
}
.navigation_link:after {
  content: '';
  display: block;
  width: 0%;
  border-bottom: 2.5px solid $header-text;
}

.navigation_link:hover::after {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.logo {
  img {
    max-width: 20rem;
  }
  &:hover {
    filter: drop-shadow(16px 16px 20px rgb(255, 255, 255)) invert(95%);
  }
}
