@import './../../shared/styles/helpers';

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}

.paragraph {
  @extend %font-add;
  @include font($size: 2rem, $height: 4.1rem, $weight: normal);
  @include adaptive-font(20, 16);

  @include media-mobile {
    text-align: justify;
  }
}

.paragraph:last-child {
  margin-bottom: 12rem;

  @include media-tablet {
    margin-bottom: 5rem;
  }
}
