@import './../../shared/styles/helpers';
.condition_list {
  margin: 0 auto;
  padding: 3rem;
  width: 80%;
  background: $color-background;
  @include media-laptop-small {
    padding: 1.5rem 3rem;
  }
  @include media-tablet {
    width: 100%;
  }
  @include media-mobile {
    padding: 1.5rem;
  }
}

.condition {
  text-align: justify;
  position: relative;
  padding-left: 2.5rem;

  @include font($size: 2rem, $height: 2.8rem, $weight: 400);
  @include adaptive-font(20, 18);
  @include media-tablet {
    line-height: 3.1rem;
  }
  &:before {
    content: url('https://img.icons8.com/officel/16/winter.png');
    position: absolute;
    top: 2px;
    left: 0;
    padding-right: 1.5rem;
  }
}
.condition:not(:last-child) {
  margin-bottom: 1.5rem;
}
