@import './../../shared/styles/helpers';

.title {
  margin-bottom: 8rem;
  text-align: center;
  line-height: 3.6rem;
  @include media-tablet {
    margin-bottom: 5rem;
  }
}

.container {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, minmax(200px, 450px));
  grid-template-rows: repeat(2, 250px);
  justify-items: center;

  @include media-laptop-small {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 1px;
  }
}

.item {
  position: relative;
  transition: all 0.7s ease;
  @include media-laptop-small {
    width: 100%;
  }

  &:hover {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.9);
    transition: all 0.7s ease;
  }
}

.item_big {
  grid-column: span 2;
  grid-row: span 2;
  @include media-laptop-small {
    grid-row: span 1;
  }
}

.image {
  height: 100%;
  @include media-laptop-small {
    height: 200px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include media-laptop-small {
      object-fit: fill;
    }
  }
}

.image_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $header-text;
  pointer-events: none;
}
