@import './../../styles/helpers';

.section {
  padding: 6rem 0 1rem;
  width: 100%;
  background-color: $color-background;

  @include media-laptop-small {
    padding: 2rem 0;
  }
  @include media-tablet {
    padding: 1rem 0;
  }
}
.container {
  max-width: $content-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;

  @include media-tablet {
    padding: 2rem;
  }
  @include media-mobile {
    padding: 2rem 1rem;
  }
}
.section:is(.contacts) {
  padding: 2rem 0;
  .container {
    padding: 1rem 3rem;
  }
}
