@import './../../styles/helpers';

.section {
  margin: 6rem auto;
  width: 100%;
  @include media-laptop-small {
    margin: 3rem auto;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 6rem;
  @include media-laptop-small {
    padding: 2rem 3rem;

  }
}
