@import './../../shared/styles/helpers';
.contacts {
  margin-bottom: 5rem;
  width: 70%;
  @include media-tablet {
    width: 100%;
  }

  & > h4 {
    padding: 0 0.7rem;
  }
}

@include media-tablet {
  .contacts {
    margin-bottom: 2rem;
  }
}
.title {
  text-align: center;
}
.socials {
  margin-top: 4.5rem;
}
