@import './../../shared/styles/helpers';

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include media-tablet {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 5px;

    width: 70%;
    background: $color-background-add;
    padding: 3rem;
    line-height: 6rem;
    padding-bottom: 13rem;
    transition: right 0.7s ease-in-out;

    .logo {
      position: relative;
      top: 1.8rem;
      order: 1;
      align-self: center;
      pointer-events: none;
      margin-bottom: 5rem;
    }

    .navigation_list {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      li {
        width: 100%;
        border-bottom: 1px solid $color-text;
      }
    }

    .navigation_list:first-child {
      order: 1;
    }

    .navigation_link {
      color: $color-text;
      @include font($size: 2.3rem, $height: 4.1rem, $weight: 500);
      text-transform: uppercase;
      margin-left: 2.5rem;
      @include adaptive-font(23, 17);

      @include media-mobile {
        margin-left: 5px;
      }

      &:hover {
        color: $color-text-hover;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
      }
    }

    .navigation_link:after,
    .navigation_link:hover::after {
      display: none;
    }

    .navigation_list > li:hover .sub_list {
      position: relative;
      padding: 0.7rem 0rem;
      transition: opacity 1s ease-in-out;

      li:last-of-type {
        border: none;
      }
    }
  }
}

.navigation_list {
  display: flex;
  flex: 0 1 35%;
  justify-content: space-between;
  gap: 10px;

  li {
    position: relative;
  }

  @media screen and (max-width: 1000.98px) {
    flex: 0 1 40%;
  }
}

.navigation_link {
  @extend %font-add;
  color: $header-text;
  @include font($size: 2rem, $height: 3.6rem, $weight: normal);
  @include adaptive-font(20, 10);
  transition: all 0.5s ease-in-out;

  &:hover {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
  }
}

.navigation_link:after {
  content: '';
  display: block;
  width: 0%;
  border-bottom: 2.5px solid $header-text;
}

.navigation_link:hover::after {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.sub_list {
  position: absolute;
  z-index: 101;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 170px;
  text-align: center;
  padding: 2rem;
  background: $color-background-add;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out;

  @include media-tablet {
    transition: none;
  }

  .navigation_link {
    color: $color-text;
    pointer-events: all;
  }
}

.navigation_list > li:hover .sub_list {
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
}

.logo {
  pointer-events: none;

  img {
    max-width: 20rem;

    @include media-laptop-small {
      max-width: 15rem;
    }
  }
}

.active {
  right: 0;
}
