@import './../../shared/styles/helpers';

.content {
  text-align: center;
  width: 100%;
}

.description {
  @include font($size: 2.3rem, $height: 3.5rem, $weight: 300);
  width: 87%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 5rem;
  @include adaptive-font(23, 18);

  @include media-tablet {
    margin-bottom: 4rem;
    line-height: 2.7rem;
    width: 95%;
  }

  @include media-mobile {
    text-align: justify;
  }
}
